* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
    display: flex;
    background-color: #303030;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav>ul>li {
    margin-inline: 10px;
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

#landing1 {
    display: flex;
    width: 1444px;
    height: 129px;
    padding: 3px 171.672px 49px 171.672px;
    justify-content: center;
    align-items: flex-start;
    gap: 40.422px;
    flex-shrink: 0;
    color: #1D1D1F;
}

#landing2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1134.5px;
    padding: 113px 266px 0px 266px;
    justify-content: center;
    align-items: center;

}

.c1 {
    display: flex;
    width: 34.775px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 147.059% */
    letter-spacing: -0.374px;
}

.c2 {
    width: 100px;
    height: 21px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}

.c3 {
    display: flex;
    width: 320.788px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
    background: linear-gradient(90deg, #2CA2B4 0%, #5598DE 24%, #7F87FF 45%, #F65AAD 76%, #EC3D43 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c4 {
    display: flex;
    width: 474.581px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}


#landing2>img {
    width: 788px;
    height: 717px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}

#landing3 {
    display: flex;
    flex-direction: column;

    width: 1512px;
    height: 930.5px;
    padding: 133px 266px 0px 266px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: #000;
}

.a1 {
    display: flex;
    width: 469.203px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: #86868B;
}

.a2 {
    width: 140px;
    height: 20px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}

.a3 {
    display: flex;
    width: 266.666px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
    background: linear-gradient(180deg, #FFB6FF 0%, #B344FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.a4 {
    color: #F5F5F7;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#landing4 {
    display: flex;
    width: 1512px;
    height: 830px;
    padding-left: 0px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background: #FBFBFD;

}

#hello {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.b1 {
    width: 96px;
    height: 22px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}

.b2 {
    display: flex;
    width: 338.766px;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
    background: linear-gradient(90deg, #1E3791 0%, #2948B1 40%, #3153C6 55%, #385FDA 60%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.b3 {
    display: flex;
    width: 468.347px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

.b4 {
    display: flex;
    width: 630px;
    padding: 0px 212.047px;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

#landing4>img {
    width: 494px;
    height: 830px;
    display: flex;
    width: 756px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#landing5>img {
    width: 1410px;
    height: 814px;
    flex-shrink: 0;
    background: url(<path-to-image>), lightgray 50% / contain no-repeat;
}

#d1 {
    display: flex;
    width: 183.566px;
    height: 29px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: 0.216px;
}

#d2 {
    display: flex;
    width: 296.569px;
    height: 110px;
    flex-direction: column;
    justify-content: center;
    color: #FFF;

    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
}

#d3 {
    display: flex;
    width: 110.634px;
    height: 20px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: SF Pro Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 117.648% */
    letter-spacing: -0.374px;
}

#landing7 {
    margin: auto;
    width: 90vw;
    display: flex;
    padding: 17px 50.078px 15px 100.031px;
    justify-content: space-between;
    align-items: center;
    gap: 100.063px;
    flex-shrink: 0;
    background: #01012A;
}

#f1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#f1>h4 {
    color: #FFF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 90px;
    font-weight: 700;
    line-height: 100.009px;
    /* 111.121% */
    letter-spacing: -0.27px;
}

#f1>h5 {
    color: #2997FF;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#landing8 {
    display: flex;
    width: 1000px;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    align-items: center;
}

#landing8>h2 {

    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 56px;
    padding-bottom: 200px;
    padding-top: 400px;
    font-weight: 700;
    line-height: 60px;
    /* 107.143% */
    letter-spacing: -0.28px;
}

#g1>h4 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    /* 116.667% */
    letter-spacing: 0.216px;
}

#g1>h3 {
    color: #1D1D1F;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.008px;
    /* 108.349% */
    letter-spacing: -0.144px;
}

#g2 {
    display: flex;
}

#g11 {
    display: flex;
    width: 269.5px;
    height: 141px;
    padding: 0px 37.534px 2px 37.719px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    color: #6E6E73;
}

#g11>img {
    display: flex;
    width: 123px;
    height: 61px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

#g11>p {
    color: #6E6E73;
    text-align: center;
    font-family: SF Pro Display;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 29.001px;
    /* 138.1% */
    letter-spacing: 0.231px;
}

#g22 {
    display: flex;
    width: 269.5px;
    height: 141px;
    padding: 0px 31.238px 2px 31.422px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    color: #6E6E73;
}

#g33 {
    display: flex;
    width: 269.5px;
    height: 141px;
    padding: 0px 32.691px 2px 32.875px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    color: #6E6E73;
}

#g44 {
    display: flex;
    width: 269.5px;
    height: 141px;
    padding: 0px 37.534px 2px 37.719px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    color: #6E6E73;
}

#g3>button{
    display: flex;
    flex-direction: column;
width: 169.797px;
height: 56px;
padding: 18px 30.6px 18px 31px;
justify-content: center;
align-items: center;
border-radius: 980px;
background: #0071E3;
margin-top: 20px;
margin-bottom: 30px;
}